@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

/* .content{
    align-items: center;
} */

.servicesOfferedContainer{
    display: flex;
    justify-content: center;
}

.offeredService{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.serviceTitle {
    font-size: 18px;
    font-family: 'Shippori Antique', sans-serif;
    
}

.servicesOfferedTitle{
    font-size: 35px;
    font-family: 'Shippori Antique', sans-serif;
    text-decoration: underline;
    padding-top: 30px;
    margin-bottom: 3rem;
}

.registerButtonContainer{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.serviceImageContainer{
    margin-top: 20px;
}

.servicesContainer{    
    padding-top: 10rem;
}

.buttonRegister{

}

/* CSS */
.button65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #09c;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 100%!important;
}

.button65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button65:hover:after {
  opacity: .5;
}

.button65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.contentCardLink, .contentCardLink:hover{
  text-decoration: none!important;
  color: white;
}


