@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

/* .content{
    align-items: center;
} */

.servicesOfferedContainer{
    display: flex;
    justify-content: center;
}

.offeredService{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.serviceTitle {
    font-size: 18px;
    font-family: 'Shippori Antique', sans-serif;
    
}

.servicesOfferedTitle{
    font-size: 35px;
    font-family: 'Shippori Antique', sans-serif;
    text-decoration: underline;
    padding-top: 30px;
    margin-bottom: 3rem;
}

.registerButtonContainer{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.serviceImageContainer{
    margin-top: 20px;
}

.servicesContainer{    
    padding-top: 10rem;
}