.copyrightContainer{
    display: flex;
    justify-content: center;
}

.footer{
    width: 100%;
    background-color: grey;
    color: white;
}

.smartBotsContainer{
    align-items: center;
    display: flex;
}

.siteCreators{
    text-decoration: none;
    color: white;
}