@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    border: black;
    border-bottom: groove;
    padding-bottom: 20px;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.topLeft{
    display: flex;
    align-items: center;
    justify-self: flex-start;
}
.topRight{
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.box{
    flex: 1;
    display: flex;
    justify-content: center;
}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }