@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

.topbar{
    width: 100%;
    height: 100px;
    background-color: #09c;
    padding-bottom: 20px;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo{
    font-weight: 900;
    font-size: 40px;
    color: black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.topLeft{
    display: flex;
    justify-self: flex-start;
}
.topRight{
    display: flex;
    justify-self: flex-end;
    width: 8em;
}

.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.box{
    flex: 1;
    display: flex;
    justify-content: center;
}

/* .box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  } */

.govImageContainer{
    padding-top: 20px;
    padding-left: 30px;
}
.govImage{
    max-width: 100%;
    height: auto;
    width: 8em;
}